<!-- <img [src]="url"> -->
<br>
<div >
<input type="text" [(ngModel)]="charId" (keydown.enter)="submit()">
<button (click)="submit()">Search!</button>
<!-- {{charId}} -->
<app-characters [character]="character"></app-characters>
</div>
<app-characters></app-characters>
  <!-- <app-my-component></app-my-component>

<app-my-component></app-my-component>

<app-my-component></app-my-component> -->
